/* Variables */
@import 'functions';

// ? fonts
// 
$font-x-small: rem(14);
$font-small: rem(15);
$font-medium: rem(16);
$font-medium-2: rem(17);
$font-big: rem(18);
$font-large: rem(22);
$font-x-large: rem(23);
$font-xx-large: rem(24);

// *? COLORS
//// 
$body-bg: #f7f7f7;
$grey-color: #7a7a7a;
$light-bg: #f0f0f0;
$light-bg-600: #e5e5e5;
$light-main-color: #f2f9ff;
$light-black: #6f6f6f;
$dark-blue: #0b4475;
$green-success: #13be26;
$red-danger: #de1332;
$dark-light-bg: #ddd;
