@import 'variables';
@import 'mixins';
@import 'functions';

@font-face {
    font-family: 'IBM Plex Arabic';
    src: url('/font/IBMPlexArabic-Text.ttf') format('truetype');
}

// Some repeated class

%line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.shadow-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.main-btn {
    background-color: var(--main-color) !important;
    color: #fff !important;
    min-height: 45px !important;
    padding: .3rem 3rem !important;
    &:hover {
        background-color: darken(#0f8cfa, 5) !important;
    }
}

.main-star {
    color: var(--star-color);
    font-size: 20px;
}
.star-small {
    font-size: 16px;
}

button:active {
    transform: scale(.99) translateY(1px);
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    @include media(small) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

// MAIN
input:focus, button:focus, select:focus {
        color: none !important;
        background-color: none !important;
        border-color: none !important;
        box-shadow: none !important;
}

// RESET SOME BOOTSTRAP PROPERTIES
ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    display: inline-block;
}

.cursor {
    cursor: pointer;
}

p {
    line-height: 1.7;
}

// Css variables

:root {
    --main-shadow: 0 1px 1px rgba(0,0,0,.1);
    --main-shadow-x: -1px 0 1px rgba(0,0,0,.1);
    --main-color: #0f8cfa;
    --star-color: rgb(246, 210, 18);
    --icon-size: $font-x-large;
    --frame-shadow: 2px 2px 5px rgba(0,0,0,.07);
}

// Body
body {
    background-color: $body-bg !important;
    font-family: "IBM Plex Arabic",Helvetica,Arial,sans-serif !important;
}

// Header progress

.header-progress {
    background-color: $dark-blue;
    position: relative;
    z-index: 0;
    padding: 1rem 0;
    color: #fff;
}

.progress-categorie {
    margin: 1rem 0;
}

.progress-categorie {
    width: 100%;
    height: 16px;
    border-radius: 50rem;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
    }
}

.main-progress {
    position: absolute;
    transition: width .3s ease-in;
    width: 0;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}

// Frame

.frame-title {
    margin-top: 2rem;
}

.frame-heading {
    margin-bottom: .5rem;
}

.frame-description {
    color: $grey-color;
    font-size: 16px;
}

.frame {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--frame-shadow);
}

// Stages

.stage-item {
    background-color: #fff;
    padding: 1rem;
    &:not(:last-child) {
        border-bottom: 1px solid $light-bg-600;
    }
}

.stage-btn-start:enabled i {
    display: none;
}

.stage-btn-start {
    background-color: var(--main-color) !important;
    color: #fff !important;
    padding: .2rem 1.2rem !important;
    &:hover {
        background-color: darken(#0f8cfa, 5) !important;
    }
}

.stage-count {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    margin-left: 1rem;
}

.not-allowed .stage-count {
    color: inherit;
    background-color: $light-bg;
}

.stage-title {
    font-size: 18px !important;
    margin: 0 !important;
}

.stage-rewards {
    font-size: 14px !important;
    display: inline-block;
    margin-top: 3px;
}

.stage-btn-start:disabled span{
    display: none;
}
.stage-btn-start:disabled {
    min-width: 61px;
}

.frame-information {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 !important;
}

.list-table {
    padding: 8px;
    border-bottom: 1px solid $light-bg;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grey {
    color: $grey-color;
}

.categorie-right-answers {
    color: $green-success !important;
    font-weight: 500;
}

.categorie-wrong-answers {
    color: $red-danger!important;
    font-weight: 500;
}

// Quiz section

.quiz-header {
    padding-top: 1rem;
    .categorie-title {
        font-size: 15px;
        color: $grey-color;
    }
    .quiz-stage-label {
        font-size: 18px;
        margin: .5rem 0;
    }
}

.quiz-progress {
    width: 100%;
    border-radius: 50rem;
    overflow: hidden;
    position: relative;
    height: 15px;
    margin-bottom: 2rem;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        background-color: $light-bg-600;
        height: 100%;
    }
    .main-progress {
        position: absolute;
        height: 100%;
        transition: width .3s ease-in;
        background-color: var(--main-color);
        left: 0;
        top: 0;
    }
}

.close-quiz {
    color: $grey-color;
    font-size: 20px;
}

.quiz-question {
    margin-bottom: 2rem;
}

.quiz-answer {
    position: relative;
    transition-duration: .1s;
    background-color: #fff;
    width: 100%;
    box-shadow: var(--frame-shadow);
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.quiz-label {
    padding: 15px 1rem;
    padding-left: 2rem;
    flex-grow: 1;
    cursor: pointer;
}

.quiz-input {
    margin-right: 1rem;
    cursor: pointer;
}

.answer-icon-result {
    font-size: 18px;
    position: absolute;
    left: 1rem;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.quiz-answer.true .right-icon{
    display: block;
}

.quiz-answer.false .wrong-icon{
    display: block;
}

.quiz-answer.true{
    background-color: $green-success;
    color: #ffff;
}

.quiz-answer.false{
    background-color: $red-danger;
    color: #ffff;
}

.quiz-submit {
    margin-top: 2rem;
}

.btn-submit-answer:disabled {
    background-color: $dark-light-bg !important;
    color: $grey-color !important;
}

.btn-submit-answer {
    background-color: var(--main-color) !important;
    color: #fff !important;
    padding: .5rem 3rem !important;
    transition-duration: 0s !important;
    @include media(mobile) {
        width: 100%;
        min-height: 50px;
    }
}

// Result quiz

.quiz-result {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz-result-container {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

.submit-final-answer {
    margin-top: 1.5rem;
}

.final-result-right-answers {
    color: $green-success;
}

.final-result-wrong-answers {
    color: $red-danger;
}

.quiz-description-result {
    font-size: 22px;
    margin: 1rem 0;
    display: none;
}

.passed-description {
    color: $green-success;
}

.inpassed-description {
    color: $red-danger;
}

.quiz-result.inpassed .inpassed-description{
    display: block;
}

.quiz-result.passed .passed-description{
    display: block;
}

// Loader

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.spinner-grow {
    color: var(--main-color);
    background-color: var(--main-color);
}

.quiz-img {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.quiz-img-container {
    width: 100%;
    background-color: #fff;
    box-shadow: var(--frame-shadow);
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-msg {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    color: #fff;
    text-align: center;
    transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1), opacity .3s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-150%);
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}

.wrong-answer-msg {
    background-color: $red-danger;
}

.correct-answer-msg {
    background-color: $green-success;
}

.form-check-input {
    flex-shrink: 0;
}