html{
  scroll-behavior: smooth;
  font-size: 100%;
}
/* body */

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #111518;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
}